header {
	display: block;
	position: fixed;
	width: 100%;
	height: 42px;
	top: 0;
	left: 0;
	right: 0;
	color: #fff;
	border-bottom: 1px solid #333;
	background-color: #314159;
	z-index: 2;
}
#menu {

}
.menu {
	display: block;
	position: relative;
	float: left;
	top: 0;
	margin: 0;
	padding: 0;
	height: 42px;
	font-size: 18px;
	line-height: 42px;
	padding: 0 12px;
	cursor: pointer;
}
.active_menu {
	background: maroon;
	font-weight: bolder;
	font-size: 22px;
}
.menu:hover {
	background: maroon;
}
.menu_dashboard {
	padding-left: 40px;
	font-size: 24px;
	font-weight: bold;
}

.raspberry_io {
	position: absolute;
	display: block;
	left: 0;
	top: 10px;
	width: 38px;
	height: 48px;
	background: transparent url('../img/sprite.png') no-repeat -272px -34px;
}

#loading {
	background: transparent url('../img/ajax_load.gif') no-repeat left top;
	display: block;
	position: absolute;
	top: 60px;
	width: 25px;
	height: 25px;
}

#content {
	position: relative;
	top: 42px;
	height: 100%;
	width: 100%;
}
#content h1 {
	position: fixed;
	top: 32px;
	font-size: 17px;
	left: 0;
	padding: 3px 10px 6px 42px;
	background: rgba(162, 162, 162, 0.17);
	border-radius: 0px 0px 10px 0px;
	color: #314159;
	text-shadow: 1px 1px 0px #eee;
	z-index: 2;
}
#content #container {
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
}
footer {
	display: block;
	position: fixed;
	bottom: 3px;
	right: 3px;
}
/* dashboard */

#pi_gpio {
	display: block;
	position: relative;
	/*
	width: 683px;
	height: 468px;
	background-image: url('../img/pi_gpio.png');
	*/
	width: 100%;
	margin: 10px auto;
}

.gpio {
	display: block;
	position: absolute;
	/*width: 340px;*/
	width: 50%;
	height: 33px;
	cursor: pointer;
	border: 1px solid transparent;
}
.gpio:hover {
	background: transparent;
	color: #000;
	border: 1px solid red;
}
.no_gpio {
	cursor: default;
}
.no_gpio:hover {
	border: 1px solid transparent;
}
.gpio_on {
	background-color: transparent;
	color: #fff;
}
.gpio_on:hover {
	background: #428d1d;
	border: 1px dashed #000;
	z-index: 3;
}
.status_led {
	display: none;
}
.gpio_on .status_led {
	display: block;
}

.gpio_left {
	left: 0px;
}
.gpio_right {
	right: 0px;
}

.gpio_left .status_led {
	position: absolute;
	right: 3px;
}
.gpio_left .pin_name {
	margin-right: 4px;
	min-height: 32px;
	right: 68px;
}
.gpio_left .pin_value {
	position: absolute;
	right: 15px;
	font-size: 13px;
	font-family: "GEORGIA";
	top:8px;
}
.gpio_left .pin_number {
	text-align: right;
	right: 38px;
}

.gpio_right .status_led {
	position: absolute;
	left: 3px;
}
.gpio_right .pin_name {
	margin-left: 4px;
	min-height: 32px;
	left: 68px;
}
.gpio_right .pin_value {
	position: absolute;
	left: 15px;
	font-size: 13px;
	font-family: "GEORGIA";
	top:8px;
}
.gpio_right .pin_number {
	text-align: left;
	left: 38px;
}

.pin_number {
	position: absolute;
	color: black;
	font-size: 26px;
	width: 32px;
}

.pin_value, .pin_name {
	display: inline-block;
}

.pin_name {
	position: absolute;
	min-width: 182px;
}

.pwm_pin {
	display: inline-block;
}

.pwmPin {
	width: 95%;
	margin: 10px auto;
	border: 1px solid #314159;
}

.pwm-slider{
	position: relative;	
	width: 100%;
	height: 13px;
}


/* Start Sprite Master CSS */
.bulb,.bullet_black,.bullet_blue,.bullet_delete,.bullet_error,.bullet_green,.bullet_orange,.bullet_red,.bullet_white,.bullet_wrench,.bullet_yellow,.calculator_black,.calculator,.caution_high_voltage,.cctv_camera,.cooler,.diagramm,.error,.exclamation,.lightbulb_off,.lightbulb,.no_requirements,.pi_math,.sprite{display: inline-block;background-repeat: no-repeat;background-image: url('../img/sprite.png');}
.bulb{background-position:0px 0px;width:32px;height:32px;}
.bullet_black{background-position:-34px 0px;width:32px;height:32px;}
.bullet_blue{background-position:-68px 0px;width:32px;height:32px;}
.bullet_delete{background-position:-102px 0px;width:32px;height:32px;}
.bullet_error{background-position:-136px 0px;width:32px;height:32px;}
.bullet_green{background-position:-170px 0px;width:32px;height:32px;}
.bullet_orange{background-position:-204px 0px;width:32px;height:32px;}
.bullet_red{background-position:-238px 0px;width:32px;height:32px;}
.bullet_white{background-position:-272px 0px;width:32px;height:32px;}
.bullet_wrench{background-position:-306px 0px;width:32px;height:32px;}
.bullet_yellow{background-position:-340px 0px;width:32px;height:32px;}
.calculator_black{background-position:-374px 0px;width:32px;height:32px;}
.calculator{background-position:-408px 0px;width:32px;height:32px;}
.caution_high_voltage{background-position:-442px 0px;width:32px;height:32px;}
.cctv_camera{background-position:-476px 0px;width:32px;height:32px;}
.cooler{background-position:0px -34px;width:32px;height:32px;}
.diagramm{background-position:-34px -34px;width:32px;height:32px;}
.error{background-position:-68px -34px;width:32px;height:32px;}
.exclamation{background-position:-102px -34px;width:32px;height:32px;}
.lightbulb_off{background-position:-136px -34px;width:32px;height:32px;}
.lightbulb{background-position:-170px -34px;width:32px;height:32px;}
.no_requirements{background-position:-204px -34px;width:32px;height:32px;}
.pi_math{background-position:-238px -34px;width:32px;height:32px;}
.sprite{background-position:-272px -34px;width:225px;height:52px;}
/* End Sprite Master CSS */
