<h1>Motor teszt</h1>
<div id="container">
	<input type="number" name="motorSpeed" id="motorSpeed" value="50" />
	<button class="startMotor">startMotor</button>
	<button class="stopMotor">STOPmotor</button>
	<button class="reverseMotor">REVERSE motor</button>
	<button class="moveUp">moveUP</button>
	<button class="moveDown">moveDOWM</button>
	<button class="moveRight">moveRIGHT</button>
	<button class="moveLeft">moveLEFT</button>
</div>
<style>
	button {
		width: 90%;
		margin: 5% auto;
		font-size: 24px;
	}
	.startMotor{
		background-color: green;
	}
	.stopMotor{
		background-color: red;
	}
</style>